body{
    font-family: Arial;
    
}

.todoGrid , .todo-input{
    display : grid;
    grid-template-columns: 200px 150px 100px; 
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
/*we adding soace between the top column and the bottom. because they are two different divs. so we just use margin. */
.todo-input{
    margin-bottom: 10px;
    align-items: stretch;/*if you see a button got smaller all of a sudden. it is becuase of the grid propery aligh-items = center. you have to find the div the button is on and add alighn-items= stretch;*/
}



.name-input, .due-date-input{
    font-size: 15px;
    padding: 5px;
}

.add-button{
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.delete-button{
    background-color: darkred;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
}